h2 {
    font-size: 2em;
    line-height: 1.5em;
}

.menu-header_bg {
    height: 155px;
    min-width: 420px;
    width: 100%;
    background: #A8EB12;
    background: linear-gradient(90%, rgb(133, 148, 100) 0%, #7ca81e 100%);
    box-shadow: 0px 1px 10px rgba(122, 141, 80, 0.5);
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -70px;
    margin-bottom: 50px;
}

.header-content {
    position: absolute;
    top: 15px;
    left: 15px;
    display: flex;
    align-items: center;

    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 7px solid #7ca81e;
        margin-right: 15px;
    }
}