ion-slides {
    height: 60%;
}

.swiper-slide img {
    height: 150px;
    max-width: 80%;
    margin: 20px 0 20px;
    pointer-events: none;
}

.get-started {
    color: var(--ion-text-color, #fff);
}