<!-- <app-header-shared [headerObject]="headerObject"></app-header-shared> -->
<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="toggleYarnTitle">Create yarn</ion-title>
    <ion-list class="top-opt" *ngIf="toggleMenuOptions">
      <ion-item (click)="editYarnVoice($event)">
        <ion-icon name="create-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon name="copy-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon name="trash-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class=set-bg>

    <ion-list lines="full" *ngFor="let audio of audioList; index as i;" expand="block" appLongpress
      (onLongPress)="onLongPress(audio, i)" [ngClass]="selectedIndex == i ? 'selected-color': 'nuetral-color' ">
      <ion-item>
        <ion-avatar slot="start" tappable class="play-icons">
          <ion-icon class="icon-person" name="person-circle-outline"></ion-icon>
          <ion-icon class="icon-mic" name="mic-outline"></ion-icon>
        </ion-avatar>
        <ion-label class="play-drt">
          <ion-icon class="ply-btn" tappable (click)="playAudio(i, audio)" *ngIf="audio.audioIsPlaying == false"
            name="play">
          </ion-icon>
          <ion-icon tappable (click)="pauseAudio(i, audio)" name="pause-outline" *ngIf="audio.audioIsPlaying == true">
          </ion-icon>
          <ion-progress-bar [value]="audio.progressBar" color="secondary">{{audio.progressBar}}</ion-progress-bar>
        </ion-label>
      </ion-item>

    </ion-list>
    <ion-infinite-scroll threshold="100px" id="infinite-scroll">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </div>

  <ion-fab vertical="bottom" (click)="record()" horizontal="end" slot="fixed" *ngIf="!recording">
    <ion-fab-button color="green">
      <ion-icon name="mic-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" (click)="stopRecord()" horizontal="end" slot="fixed" *ngIf="recording">
    <ion-fab-button>
      <ion-icon name="stop-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>