<ion-content>

  <app-header-shared [headerObject]="headerObject"></app-header-shared>

  <ion-list>
    <ion-item *ngFor="let audio of audioList; index as i;">
      <p>{{audio.name}}</p>
      <button ion-button clear item-end large tappable (click)="playAudio(i)">
        <ion-icon name="play"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <ion-fab vertical="center" (click)="record()" horizontal="center" slot="fixed" *ngIf="!recording">
    <ion-fab-button>
      <ion-icon name="mic-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="center" (click)="stopRecord()" horizontal="center" slot="fixed" *ngIf="recording">
    <ion-fab-button>
      <ion-icon name="stop-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>