<!-- <app-header-shared [headerObject]="headerObject"></app-header-shared> -->

<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Create yarn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class=set-bg>
    <ion-list>

      <ion-item>
        <ion-label class="ion-text-wrap flex-container" (click)="gotoYarnEdit($event)">
          <ion-text color="dark">
            <h3>Edit voices</h3>
          </ion-text>
          <ion-text color="dark p-left">
            <ion-icon class="ply-btn" name="create-outline"></ion-icon>
          </ion-text>
        </ion-label>
      </ion-item>

      <ion-item *ngFor="let audio of audioList; index as i;">

        <ion-label class="ion-text-wrap">

          <ion-text color="dark">
            <h3>{{audio.name}}</h3>

          </ion-text>
          <ion-text color="dark flex-container">

            <ion-icon class="ply-btn" tappable (click)="playAudio(i, audio)" *ngIf="audio.audioIsPlaying == false"
              name="play">
            </ion-icon>
            <ion-icon class="ply-btn" tappable (click)="pauseAudio(i, audio)" name="pause-outline"
              *ngIf="audio.audioIsPlaying == true">
            </ion-icon>
            <ion-progress-bar [value]="audio.progressBar" color="secondary">{{audio.progressBar}}</ion-progress-bar>

          </ion-text>

        </ion-label>

        <ion-checkbox (ionChange)="checkedYarnsForEdit($event,audio, i)" color="dark" slot="start"></ion-checkbox>

      </ion-item>

    </ion-list>


    <ion-infinite-scroll threshold="100px" id="infinite-scroll">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </div>

  <ion-fab vertical="bottom" (click)="record()" horizontal="end" slot="fixed" *ngIf="!recording">
    <ion-fab-button color="green">
      <ion-icon name="mic-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" (click)="stopRecord()" horizontal="end" slot="fixed" *ngIf="recording">
    <ion-fab-button>
      <ion-icon name="stop-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
