<ion-content>
  <app-header-lg [headerObject]="headerObject"></app-header-lg>
  <ion-card>

    <ion-card-content>

      <form [formGroup]="loginForm">

        <!-- Inputs with labels -->
        <ion-item lines="none">
          <ion-label position="floating">Email:</ion-label>
          <ion-input formControlName="email"></ion-input>
          <div *ngIf="submitted && getFormControl.email.errors" class="danger">
            <div *ngIf="getFormControl.email.errors.required" color="danger">Email is required</div>
          </div>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="floating">Password:</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
          <div *ngIf="submitted && getFormControl.password.errors" class="danger">
            <div *ngIf="getFormControl.password.errors.required" color="danger">Password is required</div>
          </div>
        </ion-item>

        <ion-row>
          <ion-col>
            <ion-button color="green" expand="block" class="btn-store" (click)="userLogin()">
              Signin
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            No account yet? <a routerLink="/tabs/register">Signup</a>
          </ion-col>
        </ion-row>

      </form>

    </ion-card-content>
  </ion-card>

</ion-content>