<ion-header>
  <ion-toolbar class="ion-no-padding">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/front"></ion-back-button>
    </ion-buttons>

    <ion-title slot="start">
      Signin
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card-content>

      <form [formGroup]="loginForm">

        <!-- Inputs with labels -->
        <ion-item lines="none">
          <ion-label position="floating">Username:</ion-label>
          <ion-input formControlName="username"></ion-input>
          <div *ngIf="submitted && getFormControl.username.errors" class="danger">
            <div *ngIf="getFormControl.username.errors.required" color="danger">Email is required</div>
          </div>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="floating">Password:</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
          <div *ngIf="submitted && getFormControl.password.errors" class="danger">
            <div *ngIf="getFormControl.password.errors.required" color="danger">Password is required</div>
          </div>
        </ion-item>

        <ion-row>
          <ion-col>
            <ion-button color="success" expand="block" class="btn-store" (click)="userLogin()">
              Signin
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            No account yet? <a routerLink="/tabs/register">Signup</a>
          </ion-col>
        </ion-row>

      </form>

    </ion-card-content>
  </ion-card>

</ion-content>